<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
    <!--add a button to top-->
    <a href="#" id="toTop" class="fa fa-arrow-circle-up fa-3x" style="position:fixed;bottom:10%;left:80%;display:none;text-decoration:none;opacity:0.8"
    title="back to top"></a>
    <script>

    $("#toTop").click(function() {
      $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
      });
      $(window).scroll(function(){
        //alert($(window).scrollTop())
        if($(window).scrollTop()>400){
          $("#toTop").show();
        }else if ($(window).scrollTop() <150) {
          $("#toTop").hide();
        }
      });
    </script>
<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0" /> -->
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
